/* Your app styles here */
.ios .tabbar-labels .tab-link:not(.tab-link-active) .icon-ios-fill {
  display: none;
}
.ios .tabbar-labels .tab-link.tab-link-active .icon:not(.icon-ios-fill) {
  display: none;
}

@font-face {
  font-family: 'Nunito';
  src: url("../fonts/Nunito-Regular.ttf");
}

@font-face {
  font-family: 'Nunito';
  font-weight: bold;
  src: url("../fonts/Nunito-Bold.ttf");
}

#temperatura {
  margin: 10px;
  color: #001821;
}

.page, .popup{
  background-color: #f2f2f2 !important;

}

p {
  font-family: 'Nunito' !important;
  color: #001821 !important;
}

.tab-link-highlight {

  background-color: #d83559 !important;
}

.navbar {
  background-color: #55b9a1 !important;
}

.toolbar {

  background-color: #55b9a1 !important;
}

.card {
  color: #000;
  background-color: #fff;
}
/*noticias cards*/
.demo-card-header-pic .card-header {
  height: 40vw;
  background-size: cover;
  background-position: center;
  color: #fff;
}
.demo-card-header-pic .card-content-padding {
  color: #8e8e93;
}

.date {
  color: #001821 !important;
  font-weight: bold !important;
}
#mapid {
  position: relative;
  height:350px;
  padding-left: 1em;
}

.climaicon {

  margin: 10px;
  fill: #00AEEF;
}

.titulonoticia {
  color: #d83559 !important;
  font-family: 'Nunito' !important;
  font-weight: bold; 
  font-size: 26px !important;
  /*text-shadow: 2px 2px 5px #000000;*/
}

.climacard {
  background-color: #fff;

}

.climatemperatura {

  font-size: 50px;
  color: #0a6ebd;
}

#climaText {
  color: #001821 !important;
  font-family: 'Nunito' !important;
  font-weight: bold;
  text-align: center;
  font-size: 16px;
}

.cardClima {

  text-align: center !important;
}

#windDirection {

  height: 2em;
  width: 2em;
}

.chipClima{
  width: 20em;

}

.menuPanel {

  background-color: #55b9a1 !important;
}

.linkMenu{

  color: #f2f2f2 !important;
}

.menuImg {

  height: 2em;
  width: 2em;
}